<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Інформація</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
</head>
   <body style="min-height: 100%">
   <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html"><img src="../images/logo.png" alt="Logo" style="width:120px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="margin: 20px" href="pages/bookingService.html">Оренда кортів<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="margin: 20px" href="pages/prices.html">Ціни</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="margin: 20px" href="pages/info.html">Інформація</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="margin: 20px" href="pages/contact.html">Контакти</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
    </form> !-->
    <form action="">
        <label for="username" style="width: 55px">Логін</label>
        <input type="text" id="username">  <br>
        <label for="password" style="width: 55px">Пароль</label>
        <input type="password" id="password">
    </form>
  </div>
</nav>
   </header>
   
   <div class="row" style="position: absolute; left: 20%;">
       <div style="background: grey; width: 200px">
           <h4 id="getAllCoaches">Тренери</h4>
       </div>
        <div style="background: grey; width: 200px">
           <h4 id="getAllEquipment">Екіпірування</h4>
       </div>
        <div style="background: grey; width: 200px">
           <h4 id="getAllWater">Вода</h4>
       </div>
        <div style="background: grey; width: 200px">
           <h4 id="getAllGpp">Групові</h4>
       </div>
   </div>
<div id >
    
</div>
    
</body>
</html>